SECRET_KEY=your-super-secret-key-change-in-production
JWT_SECRET_KEY=your-jwt-secret-key-change-in-production
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/keibeauty_db
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:5173
FLASK_ENV=development
FLASK_APP=app.py

MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion_aqui

IMAGEKIT_PRIVATE_KEY
IMAGEKIT_URL_ENDPOINT
IMAGEKIT_PUBLIC_KEY